<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="refresh" content="3; url=/vendor"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{http://osicxcuxf.bkt.clouddn.com/css/index_style.css}"/>
    <link rel="stylesheet" th:href="@{http://osicxcuxf.bkt.clouddn.com/css/static_style.css}"/>
</head>
<body>
    <div class="container">
        <img th:src="@{http://osicxcuxf.bkt.clouddn.com/img/001.jpg}"/>
    </div>
</body>
</html>